# Hunting Growth Stocks

Growth companies are those with huge potential returns and are often found in the technology sector. Here is the official definition from [investing.com](http://www.investopedia.com/terms/g/growthcompany.asp):

>A growth company is any firm whose business generates significant positive cash flows or earnings, which increase at significantly faster rates than the overall economy. 

So how can we spot those kind of companies? We can screan stocks based on annual earning growth, revenues growth, return on equity...etc. We can also look for companies developing disruptive technologies. But could we just let the experts do it for us? for free? Well this is what I am exploring in this post. 

Each year, a bunch of news sites and organizations publish lists of the most innovative companies. In this post, I aggregated those lists from the sites and compared the holding period return for the listed companies from 2012 to 2015. Not all companies in the lists were included. Only those with that are listed on either NASDAQ, NYSE and AMEX, and Trading in the stock market during the whole holding period. You can download the aggregated list from the repo on github. The data are collected from the below soursec. Note that for Forves list, I could not find the whole list for 2012, only the top ten. 
- ### [Forbes](http://www.forbes.com/sites/samanthasharf/2012/09/05/the-ten-most-innovative-companies-in-america/#3f28c5aa23d3) 
- ### [Barclays](http://www.businessinsider.com/presenting-the-39-companies-that-will-win-through-innovation-2012-4?op=1)
- ### [Thomson Reuters](http://top100innovators.stateofinnovation.thomsonreuters.com/)
- ### [PWC](http://www.strategyand.pwc.com/global/home/what-we-think/innovation1000/top-innovators-spenders#/tab-2012)
- ### [MIT](http://www2.technologyreview.com/tr50/2012/?_ga=1.224498527.453581319.1458158445)
- ### [BCG](https://www.bcgperspectives.com/content/interactive/innovation_growth_most_innovative_companies_interactive_guide/)
- ### [Fast Company](http://www.fastcompany.com/section/most-innovative-companies-2012)

## Loading the data

In [18]:
# import the required libraries
import pandas as pd
import pandas_datareader.data as web
import datetime
from IPython.display import IFrame

In [5]:
# Load the aggregated list of companies
data = pd.read_csv("TOP_COMP_2012.csv")
start = datetime.datetime(2013, 1, 1)
end = datetime.datetime(2015, 12, 31)
tickers = list(data['ticker'])

In [10]:
tickers[1:10]

['AMAT', 'ARMH', 'ATHN', 'DWA', 'FB', 'FSLR', 'GE', 'GOOG', 'IBM']

In [11]:
# importing the stock prices
ls_key = 'Adj Close'
f = web.DataReader(tickers, 'yahoo',start,end)
cleanData = f.ix[ls_key]
stock_data = pd.DataFrame(cleanData)

In [12]:
stock_data.head()

,AAPL,ABT,ADI,ADTN,ALXN,AMAT,AMD,AMZN,ARMH,ATHN,...,TGI,TM,TXN,UTX,VAR,WST,WWD,XLNX,XOM,XRX
Date,,,,,,,,,,,,,,,,,,,,,
2013-01-02,73.280868,29.832167,40.087662,18.902343,100.050003,11.029123,2.53,257.309998,38.095465,75.440002,...,67.116903,95.989998,29.376620,77.959188,72.470001,26.736646,38.755271,34.325251,80.456559,6.661249
2013-01-03,72.355899,30.967745,39.440793,19.005635,98.480003,11.001178,2.49,258.480011,37.646940,74.839996,...,68.365683,95.370003,28.994749,78.246892,73.680000,26.833466,38.024223,34.260469,80.311449,6.661249
2013-01-04,70.340452,30.781584,38.739259,19.522094,97.620003,11.001178,2.59,259.149994,37.490931,76.349998,...,68.742297,97.339996,28.931104,78.868714,72.720001,26.925443,38.336140,33.779231,80.683300,6.587133
2013-01-07,69.926686,31.032901,38.857701,19.540873,97.309998,10.870766,2.67,268.459991,37.607937,77.989998,...,68.999983,95.529999,29.022026,78.488196,75.190002,26.760850,37.829280,33.640410,79.749130,6.698308
2013-01-08,70.114886,31.042207,38.456822,19.456361,97.489998,10.721724,2.67,266.380005,38.270976,77.639999,...,67.334945,93.930000,28.685617,77.541552,74.839996,26.693077,37.780541,32.955573,80.247962,6.689043

## Results

In [13]:
# Calulating the holding period returns 
returns = (stock_data.iloc[-1]/stock_data.iloc[0] - 1)
returns = pd.DataFrame(returns)
returns = returns.sort_values(by = [0], ascending=False)
returns['ticker'] = list(returns.index)
returns.columns = ['HPR','ticker']

In [14]:
returns.head()

           HPR ticker
NFLX  7.701880   NFLX
FB    2.737857     FB
ILMN  2.463551   ILMN
GILD  1.728395   GILD
SYNA  1.640158   SYNA

In [15]:
# plotting the returns
# note the the code below will open an interactive chart in a new page
# I edited the chart manualy through plotly and exported to this post
import plotly
import plotly.graph_objs as go

plot_url = plotly.offline.plot({
"data": [
    go.Bar(
        x=returns['ticker'],
        y=returns['HPR']
    )
        ]
    })

In [16]:
#Average return
avg_return = returns['HPR'].mean(axis=0)*100
# percentage of positive returns
percentage_positive = len(returns[returns['HPR']>0])/float(len(returns))*100

In [28]:
IFrame("https://plot.ly/~ahmedas91/0.embed", width=1000, height=550)

The above chart shows an astonishing results with an average return of 66%. Around 87% of the companies showed a positive holding period return. So can we conclude that we can just rely on the experts for hunting big growth companies? Let's not get our hopes up yet. Let's first check if we just invested in the S&P 500 and compare its cumulative returns with a portfolio of equal weights of the stocks above.

In [17]:
# Importing the s&p price index
ff = web.DataReader("^GSPC", 'yahoo',start,end)
s_p = pd.DataFrame(ff['Adj Close'])

# calculating the daily cumulative returns during the period
sp = pd.DataFrame([0])
portfolio = pd.DataFrame([0])
for i in range(1,len(stock_data)):
    sp_returns = (s_p.iloc[i]/s_p.iloc[0] - 1)[0]
    portfolio_returns = (stock_data.iloc[i]/stock_data.iloc[0] - 1).mean(axis=0)
    sp = sp.append([sp_returns])
    portfolio = portfolio.append([portfolio_returns])    
cum_returns = pd.concat([portfolio, sp], axis=1)
cum_returns.columns = ['Portfolio','S&P']
cum_returns = cum_returns.set_index(stock_data.index)

# same as the above plot. Manually editing the chart in plotly
plot = plotly.offline.plot([{
    'x': cum_returns.index,
    'y': cum_returns[col],
    'name': col
}  for col in cum_returns.columns])

In [29]:
IFrame("https://plot.ly/~ahmedas91/4.embed", width=1000, height=550)

Well, we're still beating the market by about 30%. So can we really just let the experts do it for us? Well maybe use their lists as preliminary screener only.